// tablets and ipad
@media(max-width: 800px)
{
  // main
  .main
  {
    flex-direction: column-reverse;
    height: 90vh;
    
    // left
    &-left
    {
      min-height: fit-content;
      width: 100%;
    }

    // right
    &-right
    {
      width: 100%;
      min-height: fit-content;
    }
  }
}